header {
    -moz-box-shadow: 3px 3px 5px 6px #ccc;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    box-shadow: 3px 3px 5px 6px #ccc;
}

.mobile-logo{
    @media(min-width: $sm){
        display: none;
    }
}
.desktop-logo{
    display: none;
    @media(min-width: $sm){
        display: block;
    }
}
.navbar-brand{
    display: block;

    img{
        width: 170px;
        @media(min-width: $sm){
            width: auto;
        }
    }
}

.navbar-light .navbar-nav .active>.nav-link {
    border-bottom: 3px solid $redColor;
    color: $redColor;
    font-family: $fontBold;
}

.navbar-light .navbar-nav .nav-link {
    font-family: $fontRegular;
    font-size: 16px;
    color: $blackColor;
    margin: 0;
    display: inline-block;
    padding: 8px;
    @include transition(ease .08s);

    @media(min-width: $sm) {
        font-size: 16px;
        margin: 0 20px;
    }

    @media(min-width: $md) {
        font-size: 16px;
        margin: 0 20px;
    }

    @media(min-width: $lg) {
        font-size: 15px;
        margin: 0 10px;
    }

    @media(min-width: $xl) {
        font-size: 16px;
        margin: 0 20px;
    }

    &:hover {
        color: $redColor;
        border-bottom: 3px solid $redColor;
    }
}

.navbar-nav {
    text-align: right;
}

.chosen-lang {
    display: flex;

    img {
        transform: rotate(270deg);
    }
}

.language {
    input {
        font-family: $fontRegular;
        font-size: 16px;
        color: $blackColor;
        border: none;
        cursor: pointer;
        width: 50px;

        &:focus {
            outline: none;
        }
    }
}

.language-list {
    display: none;
    font-family: $fontRegular;
    font-size: 16px;
    color: $blackColor;
    padding: 10px 15px;
    -webkit-box-shadow: 0 0 10px rgb(165, 165, 165);
    box-shadow: 0 0 10px rgb(165, 165, 165);
    margin-top: 10px;
    position: absolute;
    background-color: white;
    z-index: 10;
}

.language-option {
    cursor: pointer;
    margin-bottom: 3px;
}

.navbar {
    padding-left: 0;
    padding-right: 0;
    display: block;

    @media(min-width: $sm){
        display: flex;
    }
}

.top-header {
    background-color: $blackColor;
    padding: 8px 0;
    font-size: 14px;
    color: $whiteColor;
    font-family: $fontExtralight;

    img {
        margin-left: 30px;
    }
}

.space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nar-right {
    width: 115px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    right: 0;
    top: 23px;

    @media(min-width: $lg) {
        position: relative;
        right: auto;
        top: auto;
    }
}

.shoping-cart {
    display: block;
    position: relative;

    label {
        width: 14px;
        height: 14px;
        background-color: $redColor;
        border-radius: 7px;
        color: $whiteColor;
        font-size: 10px;
        font-family: $fontRegular;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: -8px;
        right: -6px;
    }
}

footer {
    background-color: $blackColor;
    padding: 35px 0;

    .space-between {
        display: block;
        @media(min-width: $md) {
            display: flex;
            justify-content: space-between;
        }
    }

    ul {
        list-style-type: none;
        padding: 0;
        margin: 20px 0;

        @media(min-width: $md) {
            display: flex;
            margin: 0;
        }

        li {

            @media(min-width: $md) {
                margin: 0 30px;
            }

            a {
                font-size: 16px;
                color: $whiteColor !important;
                font-family: $fontRegular;
            }
        }
    }
}

.scroll-btn {
    width: 40px;
    height: 40px;
    background-color: $whiteColor;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    img {
        transform: rotate(90deg);
    }
}

.copyright {
    font-size: 16px;
    color: $whiteColor;
    font-family: $fontExtralight;
    text-align: center;
    margin-top: 30px;
}

.navbar-toggler {
    right: 150px;
    top: 17px;
    border: none !important;
    margin-left: auto;
    display: block;
    padding: 0;

    @media(min-width: $sm){
        position: absolute;
    }

    &:focus {
        outline: none;
    }
}