@mixin placeholder {
    &::-webkit-input-placeholder {@content}
    &:-moz-placeholder           {@content}
    &:-moz-placeholder          {@content}
    &:-ms-input-placeholder      {@content}  
}

@mixin displayFlex{
    display: -webkit-box;      
    display: -moz-box;         
    display: -ms-flexbox;      
    display: -webkit-flex;     
    display: flex;  
}

@mixin transition( $value ){
    -webkit-transition: $value;
    -moz-transition: $value;
    -o-transition: $value;
    transition: $value;
}

@mixin boxShadow( $value ) {
    -webkit-box-shadow: $value;
    -moz-box-shadow: $value;
    -o-box-shadow: $value;
    box-shadow: $value;
}

@mixin textShadow( $value ) {
    -webkit-text-shadow: $value;
    -moz-text-shadow: $value;
    -o-text-shadow: $value;
    text-shadow: $value;
}
