$fontRegular: poppins-regular;
$fontBold: poppins-bold;
$fontMedium: poppins-medium;
$fontSemibold: poppins-semibold;
$fontExtrabold: poppins-extrabold;
$fontExtralight: poppins-extralight;


$whiteColor: #fff;
$transparent: transparent;

$blackColor: #293341;
$semiTransparent: rgba(0, 0, 0, 0.5);
$redColor: #DF3550;
$grayColor: #F4F4F5;

$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1800px;